<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %> 

<body>

  <%- include('partials/header.ejs') %>

  <main>
    <h2 class="text-center">Nuestras sucursales</h2>
    <section class="container">
      <!-- si quiero usar el sistema de columnas de bootstrap tengo que usar una caja container, dentro otra caja que tenga de clase row y de hay puedo usar el sistema de columnas-->
      <div class="row">
        <!-- row viene de filas en flex-box -->
        <% sucursales.forEach(sucursal => { %>
          <!-- acá me traje un card, una tarjetita que incluye foto -->
          <div class="card col-sm-12 col-md-4 col-lg-3 mb-1" style="width: 18rem;">
            <img src="/images/<%- sucursal.imagen %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%- sucursal.nombre %></h5>
              <p class="card-text"><%- sucursal.direccion %></p>
              <p class="card-text"><%- sucursal.telefono %></p>
              <a href="/sucursal/<%- sucursal.id %>" class="btn btn-primary">Ver sucursal</a>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
  </main>

  <%- include('partials/footer.ejs') %>

  <%- include('partials/scripts.ejs') %>

</body>

</html>